<!DOCTYPE html>
<html lang="<%= content.language %>" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= site.title %></title>
    <link rel="stylesheet" href="<%= baseUrl %>/static/style.css">
  </head>
  <body>
    <header>
      <h1><%= site.title %></h1>
      <nav class="languages">
        <% for (const [key, url] of multiViews) { %>
          <% if (key != null) { %>
            <a rel="alternate"
              class="<%= key.language === content.language ? 'this' : '' %>"
              hreflang="<%= key.language.toString().toLowerCase() %>"
              href="<%= url.href %>">
              <%= site.languageNames[key.language.toString()] ??
                    await key.language.getLanguageName(key.language) %>
            </a>
          <% } %>
        <% } %>
      </nav>
    </header>
    <nav class="articles">
      <% let year = null %>
      <% for (const post of metadata.posts ?? []) { %>
        <% const published = await queryPublished(post) %>
        <% const pubYear = published.getFullYear() %>
        <% if (year !== pubYear) { %>
          <% if (year != null) { %>
            </ul>
          <% } %>
          <h2><time
            datetime="<%= pubYear %>"><%= formatYear(pubYear) %></time></h2>
          <ul>
          <% year = pubYear %>
        <% } %>
        <li>
          <time datetime="<%= published.toISOString() %>">
            <%= formatMonthDate(published) %>
          </time>
          <% const postMetadata =
              await post.get([...post.keys()][0])?.getMetadata() %>
          <a href="<%= postMetadata?.multiViews?.get(null) ?? post.path %>">
            <%= await queryTitle(post) %>
          </a>
        </li>
      <% } %>
      <% if (year != null) { %>
        </ul>
      <% } %>
    </nav>
    <script src="<%= baseUrl %>/static/lang.js"></script>
  </body>
</html>
