<!DOCTYPE html>
<html
  prefix="og: http://ogp.me/ns#"
  lang="<%= content.language.toString().toLowerCase() %>"
  class="<%= metadata?.writingMode ?? "" %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title %> &mdash; <%= site.title %></title>
    <link rel="stylesheet" href="<%= baseUrl %>/static/style.css">
    <% for (const [key, url] of multiViews) { %>
      <% if (key == null) { %>
        <link rel="canonical" href="<%= url.href %>">
      <% } else if (key !== content.key) { %>
        <link
          rel="alternate"
          hreflang="<%= key.language.toString().toLowerCase() %>"
          href="<%= url.href %>">
      <% } %>
    <% } %>
  </head>
  <body>
    <article>
      <%- body %>
    </article>
    <footer>
      <nav><a href="<%= baseUrl %>"><%= site.title %></a></nav>
    </footer>
  </body>
</html>
